
* {
    font-size: 16px;
}
body {
    --darkbg: #1F2937;
    --btncolor: #3882f6;
    --quotebg: #E5E7EB;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #ebedf2 !important;
}

#section-one {
    width: 100vw;
    /* height: max-content; */
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1F2937;
    color: #ebedf2;
}
section>div {
    margin: 0 12rem 0 12rem;
}
section>.nav-header {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 65%;
}
h3 {
    font-size: 1.5rem;
}
.nav-header>div {
    max-width: max-content;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.landing {
  margin-top: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.landing>div {
  flex:1
}
#landing-text>div {
    margin: 0.5rem 0 0.5rem 0;
}
#landing-logo {
    font-size: 3rem;
    font-weight: 600;
}

#landing-text>#landing-button{
    border: none;
    background-color: #3882f6;
    color:#E5E7EB;
    border-radius: 10px;
    padding: 10px;
}