
:root {
    font-size: 16px;
}
body {
    --darkbg: #1F2937;
    --btncolor: #3882f6;
    --quotebg: #E5E7EB;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #ebedf2;
    margin: 0;
}

.section {
    width: 100%;
    height: 500px;
}

.section.one {
    background-color: #1F2937;
    color: #ebedf2;
}

.section.two, .section.four {
    background-color: white;
    color: #1F2937;
}
.section.three {
    background-color: #E5E7EB;
    color:#1F2937;
}

.section.four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.footer {
    height: fit-content;
    padding: 1.5rem;
    text-align: center;
    background-color: #1F2937;
    color: #ebedf2;
}

.mt2 {
    text-align: center;
    margin: 3rem 12rem 3rem 12rem;
}

.team-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

.team-images>.team-images-cont {
    margin-top: 0;
    text-align: center;
}

.teamimghold {
    width: 200px;
    height: 200px;
    border: 2px solid #1F2937;
    border-radius: 1rem;
}

.teamimghold:hover {
    background-color: #1F2937;
    transition: 500ms;
}
section>div {
    margin: 0 12rem 0 12rem;
}
section>.nav-header {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 45vw;
}
h3 {
    font-size: 1.5rem;
}
.nav-header>div {
    max-width: max-content;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}
.nav-links>span:hover {
    font-style: italic;
}

.landing {
  margin-top: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20vw;
}
#landing-text {
    max-width: 450px;
    word-wrap: break-word;
}

#landing-text>div {
    margin: 0.5rem 0 0.5rem 0;
}
.header-text {
    font-size: 3rem;
    font-weight: 600;
}

#landing-text>#landing-button{
    border: none;
    background-color: #3882f6;
    color:#E5E7EB;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}
#landing-text>#landing-button:hover {
    background-color: #ebedf2;
    color: #3882f6;
    transition: all 500ms;

}
#landing-img {
    flex: 1;
}

.testamonial {
    padding: 12rem;
}

.quote {
    font-size: 2rem !important;
    font-weight: 500;
    text-align: justify;
    font-style: italic;
}

.source {
    font-size: 1rem;
    text-align: right;
}

.cta {
    padding: 5rem;
    width: 60%;
    background-color: #3882f6;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
h4 {
    font-size: 1.4rem;
    margin: 0 !important;
    line-height: 0px;
}
.cta-btn>button {
    color: white;
    border: 2px solid white;
    background: none;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}

.cta-btn>button:hover {
    background-color: white;
    color: #3882f6;
    transition: all 500ms;
}